{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="max-w-md mx-auto mt-10">
        {% if error %}
            <div class="text-red-500 bg-red-100 border border-red-400 p-4 rounded-md">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-4 text-sm font-medium text-blue-600">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-800 hover:underline">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-xl font-semibold text-gray-800 mb-6">Veuillez vous connecter</h1>

        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="email" required autofocus>
        </div>

        <div class="mb-6">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" name="_password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" autocomplete="current-password" required>
        </div>

        <p class="py-3">Vous n'avez pas encore de compte ? <a href="{{ path('app_register') }}" class="font-medium text-indigo-600 hover:text-indigo-500 underline"> Inscrivez-vous</a></p>


        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Sign in
        </button>
    </form>

{% endblock %}



       {#
       Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
       See https://symfony.com/doc/current/security/remember_me.html

       <div class="checkbox mb-3">
           <label>
               <input type="checkbox" name="_remember_me"> Remember me
           </label>
       </div>
       #}
