{# templates/weapon/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Armes{% endblock %}

{% block body %}
    <h1>Liste des Armes</h1>
    <ul class="grid grid-cols-5 gap-4">
        {% for weapon in weapons %}
            <li class="border border-black">
                <strong>{{ weapon.name }}</strong> - Type: {{ weapon.type }}, Rareté: {{ weapon.rarity }}
                <img src="{{ weapon.photoUrl.url }}" alt="{{ weapon.name }}">
                <a href="{{ path('app_weapons_show', {'id': weapon.id}) }}">Voir les détails</a>
            </li>
        {% else %}
            <li>Aucune arme trouvée.</li>
        {% endfor %}
    </ul>
{% endblock %}
